.section {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
    color: black;

    h2 {
        color: black;
        font-weight: 400;
    }
}

.green {
    background: $secondaryColor;


}