.historyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;

    h2 {
        color: black;
        text-decoration: underline;
    }

    p {
        line-height: 1.4;
    }

    .historyAbout {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4rem;
        &:nth-of-type(2) { 
            display: none;
        }

    }
    
}

@media screen and (min-width:780px) {
    .historyContainer {
        width: 100%;
        min-height: auto;
        flex-direction: row;

        gap: 2rem;

        .historyAbout {
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            text-align: start;
            position: relative;
            height: 50%;
            width: 100%;
            gap: 1rem;
            &:nth-of-type(2) {
                display: flex;
                width: 100%;
                min-height: 30vh;
                height: 100%;
                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }
            }

        }

    

}