
.mainWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    // background-color: $accentColor;
//Startsida
    .heroMain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;    
        gap: 4rem;
        

        
        
        .tagLine {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            
            p {
                color: white;
                
            }
        }
        
        h1 {
            opacity: 0;
            position: absolute;
        }

        .heroLogo {
            fill: white;
            
            height: 30rem;
        }
//Produktsida  
    }
    
} 


// hero images
.startHero {
    background-image:url(/images/heroStart.jpg);
    min-height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heroPro {
    background-image: url(/images/ProductsBakery.jpg);
    min-height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heroAbout {
    background-image: url(/images/AboutUsProjekt.jpg);
    min-height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heroRef {
    background-image: url(/images/ReferenserProjekt.jpg);
    min-height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heroContact {
    background-image: url(/images/ContactProjekt.jpg);
    min-height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}