.mainWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  // background-color: $accentColor;
  //Startsida
  .heroMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 4rem;
    min-height: 100vh;

    .tagLine {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.6;
      padding: 0 0.5rem 0 0.5rem;

      p {
        color: white;
        // font-weight: 400;
        font-size: $breadSize * 1.3;
      }
    }

    h1 {
      opacity: 0;
      position: absolute;
    }

    .heroLogo {
      fill: white;

      height: 20rem;
    }
  }
}

// hero images
.startHero {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(/images/heroStart.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroPro {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(/images/ProductsBakery.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.heroAbout {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(/images/AboutUsProjekt.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.heroRef {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(https://images.unsplash.com/photo-1508424757105-b6d5ad9329d0?auto=format&fit=crop&q=80&w=2670&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .tagLine {
    p {
      margin-bottom: 1rem;
      &::first-letter {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        font-size: 3rem;
      }
    }
  }
}
.heroContact {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(/images/ContactProjekt.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// Media query for herosection
@media screen and (min-width: 560px) {
  .tagLine {
    max-width: 75%;
    padding: 0;
  }
}

@media screen and (min-width: 560px) {
  .mainWrapper {
    .heroMain {
      min-height: 110vh;
    }
  }
}
