* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  //   // height: 500vh;
  //   // width: 100vw;
  //   // display: flex;
  //   // justify-content: center;
  background-color: whitesmoke;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

li {
  margin: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
}

p,
a,
li,
ul {
  font-family: $breadText;
  font-size: $breadSize;
}

a {
  transition: color 200ms ease;
}



h1,
h2,
h3,
h4 {
  font-family: $heading;
}

h1 {
  font-size: $h1;
  color: $primaryColor;
}

h2 {
  font-size: $h2;
  color: black;
}

.topProd {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.tagLine {
  h2 {
    color: $primaryColor;
  }
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}
