.section {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    color: black;
}

.green {
    background: $secondaryColor;
}



// media querys
@media screen and (min-width: 560px) {

    .section {
        padding: 2rem;
        .refContainer{
            flex-direction: row;
            justify-content: space-between;
            min-height: 40vh;
            .contentRef {
                text-align: left;
                max-width: 50%;
            }
        }
    }
    
}