@charset "UTF-8";
.mainWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
}
.mainWrapper .heroMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 4rem;
}
.mainWrapper .heroMain .tagLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.6;
  padding: 0 0.5rem 0 0.5rem;
}
.mainWrapper .heroMain .tagLine p {
  color: white;
  font-size: 2.08rem;
}
.mainWrapper .heroMain h1 {
  opacity: 0;
  position: absolute;
}
.mainWrapper .heroMain .heroLogo {
  fill: white;
  height: 20rem;
}

.startHero {
  background-image: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(/images/heroStart.jpg);
  min-height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroPro {
  background-image: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%), url(/images/ProductsBakery.jpg);
  min-height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroAbout {
  background-image: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(/images/AboutUsProjekt.jpg);
  min-height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroRef {
  background-image: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(/images/ReferenserProjekt.jpg);
  min-height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroContact {
  background-image: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(/images/ContactProjekt.jpg);
  min-height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 560px) {
  .tagLine {
    max-width: 40%;
    padding: 0;
  }
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 2rem;
  margin: auto;
  background: #CCD5AE;
  z-index: 99;
  position: fixed;
  top: 0;
}
.navBar .navWrapper {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navBar .brand {
  height: 100%;
}
.navBar .brand .brandImage {
  height: 100%;
}
.navBar .navLinkContainer {
  position: absolute;
  right: 0;
  top: 7.6rem;
  background: #E9EDC9;
  z-index: -1;
  opacity: 0;
  padding: 2rem;
  transition: transform 200ms ease, opacity 400ms ease;
}
.navBar .menuLogo {
  border: 1px solid black;
  padding: 0.25rem;
  cursor: pointer;
}
.navBar .menuLogo .fa-bars {
  font-size: 3rem;
}
.navBar .menuLogo:hover .navLinkContainer {
  opacity: 1;
  transform: translateX(0%);
}

@media screen and (min-width: 560px) {
  .navBar .menuLogo {
    border: none;
  }
  .navBar .fa-bars {
    display: none;
  }
  .navBar .navLinkContainer {
    opacity: 1;
    background: transparent;
    position: relative;
    right: 0;
    top: 0;
    z-index: inherit;
  }
  .navBar .navLinkContainer ul,
  .navBar .navLinkContainer li {
    display: flex;
    flex-direction: row;
  }
  .navBar .navList {
    display: flex;
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

li {
  margin: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
}

p,
a,
li,
ul {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

a {
  transition: color 200ms ease;
}

a:hover {
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 4rem;
  color: #CCD5AE;
}

h2 {
  font-size: 3.2rem;
  color: black;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

.footWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CCD5AE;
  width: 100%;
  gap: 0.8rem;
  padding: 2rem;
  position: relative;
  margin-top: 2rem;
}
.footWrapper a {
  margin: 1rem;
  font-size: 1.2rem;
}
.footWrapper .footerLogo {
  height: 10rem;
}
.footWrapper .footerLogo img {
  height: 100%;
}

@media screen and (min-width: 560px) {
  .footWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footWrapper .copyright {
    position: absolute;
    bottom: 1rem;
  }
  .footWrapper .copyright p {
    font-size: 1rem;
  }
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0 2rem 3rem 2rem;
  color: white;
  overflow: hidden;
  z-index: 1;
}
.card .cardContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 10;
}
.card .gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 30%, rgb(0, 0, 0) 100%);
}
.card .cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .btn {
  justify-self: flex-end;
}

@media screen and (min-width: 784px) {
  .cardWrapper {
    flex-direction: row;
  }
  .cardWrapper .card {
    width: 33%;
  }
}
.section {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
  color: black;
}

.green {
  background: #E9EDC9;
}

@media screen and (min-width: 560px) {
  .section {
    padding: 2rem;
  }
  .section .refContainer {
    flex-direction: row;
    justify-content: space-between;
    min-height: 40vh;
  }
  .section .refContainer .contentRef {
    text-align: left;
    max-width: 50%;
  }
}
.refContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.refContainer h2 {
  color: #FF9023;
  font-weight: 400;
}
.refContainer h3 {
  color: aliceblue;
}
.refContainer .contentRef {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20vh;
  text-align: center;
}
.refContainer .contentRef:nth-of-type(2) {
  background-image: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%), url(https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?auto=format&fit=crop&q=80&w=2670&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  border-radius: 3rem 0 3rem 0;
}
.refContainer .contentRef:nth-of-type(2) h2 {
  color: white;
  font-weight: 400;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black solid;
  padding: 2rem;
  gap: 5rem;
}
.aboutContainer h2 {
  color: black;
}
.aboutContainer .contentAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
}

@media screen and (min-width: 560px) {
  .aboutContainer {
    width: 100%;
    height: 30vh;
    flex-direction: row;
    border: none;
    gap: 2rem;
  }
  .aboutContainer .contentAbout {
    align-items: start;
    justify-content: flex-end;
    text-align: start;
    height: 100%;
    width: 33%;
    gap: 1rem;
  }
  .aboutContainer .contentAbout:nth-of-type(1) {
    align-items: center;
    border: black solid;
    width: 66%;
    justify-content: center;
  }
}
.bakeryCategory {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.productCategory {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  background-color: white;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  z-index: 1;
}
.productCategory p {
  font-style: italic;
  color: black;
  font-weight: 600;
}
.productCategory p::before, .productCategory p::after {
  content: "´";
}

@media screen and (min-width: 560px) {
  .bakeryCategory {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 780px) {
  .bakeryCategory {
    grid-template-columns: repeat(3, 1fr);
  }
}
.historyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}
.historyContainer h2 {
  color: black;
  text-decoration: underline;
}
.historyContainer p {
  line-height: 1.4;
}
.historyContainer .historyAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
}
.historyContainer .historyAbout:nth-of-type(2) {
  display: none;
}

.bakersContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  position: relative;
}
.bakersContainer .baker {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}
.bakersContainer .baker:nth-of-type(even) {
  flex-direction: row-reverse;
  background: #E9EDC9;
}
.bakersContainer .baker .bakerInfo {
  width: 70%;
  height: 100%;
}
.bakersContainer .baker .bakerInfo:nth-of-type(1) {
  width: 30%;
}
.bakersContainer .baker img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 560px) {
  .bakersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .bakersContainer .baker {
    min-height: 30rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E9EDC9;
  }
  .bakersContainer .baker:nth-of-type(even) {
    flex-direction: column;
  }
}
@media screen and (min-width: 780px) {
  .historyContainer {
    width: 100%;
    min-height: auto;
    flex-direction: row;
    gap: 2rem;
  }
  .historyContainer .historyAbout {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    text-align: start;
    position: relative;
    height: 50%;
    width: 100%;
    gap: 1rem;
  }
  .historyContainer .historyAbout:nth-of-type(2) {
    display: flex;
    width: 100%;
    min-height: 30rem;
    height: 100%;
  }
  .historyContainer .historyAbout:nth-of-type(2) img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bakersContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
  }
  .bakersContainer .baker:nth-of-type(even) {
    background: none;
  }
}
.referenceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 2rem;
}
.referenceContainer .refs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #E9EDC9;
  padding: 3rem;
  gap: 2rem;
}
.referenceContainer .refs:nth-of-type(even) {
  background: #FAEDCD;
}
.referenceContainer .refs .refInfo {
  height: 50%;
  width: 50%;
}
.referenceContainer .refs .refInfo:nth-of-type(even) {
  width: 100%;
}
.referenceContainer .refs img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 2px 2px 12px violet;
}

@media screen and (min-width: 560px) {
  .referenceContainer {
    text-align: start;
  }
  .referenceContainer .refs {
    flex-direction: row;
    gap: 5rem;
    padding: 1rem;
  }
}
.contactInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.contactInfo .fastContact {
  width: 100%;
  background: #E9EDC9;
  background-size: cover;
  padding: 1rem;
  overflow-wrap: break-word;
}
.contactInfo .formContact input {
  width: 50%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 2rem;
}
.contactInfo .formContact #contactText {
  resize: none;
  width: 100%;
  min-height: 10rem;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}
.contactInfo .formContact .radioGroup {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
  gap: 2rem;
  margin-top: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
}
.contactInfo .formContact .radioGroup div {
  display: flex;
  align-items: center;
}
.contactInfo .formContact .radioGroup input[type=radio] {
  width: auto;
  margin: 0;
  margin-right: 0.5rem;
  padding: 0;
}
.contactInfo h2,
.contactInfo h3 {
  font-size: 1.8rem;
}

@media screen and (min-width: 780px) {
  .contactInfo {
    flex-direction: row;
    width: 100%;
  }
  .contactInfo .fastContact {
    width: 30%;
  }
  .contactInfo .formContact {
    width: 70%;
  }
  .contactInfo .formContact input {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */