.mainWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
}
.mainWrapper .heroMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(/images/heroStart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 4rem;
}
.mainWrapper .heroMain .tagLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainWrapper .heroMain .tagLine p {
  color: white;
}
.mainWrapper .heroMain h1 {
  opacity: 0;
  position: absolute;
}
.mainWrapper .heroMain .heroLogo {
  fill: white;
  height: 30rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 2rem;
  margin: auto;
  background: #CCD5AE;
  z-index: 2;
  position: fixed;
  top: 0;
}
.navBar .navWrapper {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navBar .brand {
  height: 100%;
}
.navBar .brand .brandImage {
  height: 100%;
}
.navBar .navLinkContainer {
  position: absolute;
  right: 0;
  top: 7.6rem;
  background: #E9EDC9;
  z-index: -1;
  opacity: 0;
  padding: 2rem;
  transition: transform 200ms ease, opacity 400ms ease;
}
.navBar .menuLogo {
  border: 1px solid black;
  padding: 0.25rem;
  cursor: pointer;
}
.navBar .menuLogo .fa-bars {
  font-size: 3rem;
}
.navBar .menuLogo:hover .navLinkContainer {
  opacity: 1;
  transform: translateX(0%);
}

@media screen and (min-width: 560px) {
  .navBar .menuLogo {
    border: none;
  }
  .navBar .fa-bars {
    display: none;
  }
  .navBar .navLinkContainer {
    opacity: 1;
    background: transparent;
    position: relative;
    right: 0;
    top: 0;
    z-index: inherit;
  }
  .navBar .navLinkContainer ul, .navBar .navLinkContainer li {
    display: flex;
    flex-direction: row;
  }
  .navBar .navList {
    display: flex;
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 500vh;
}

li {
  margin: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
}

p, a, li, ul {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

a {
  transition: color 200ms ease;
}

a:hover {
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 4rem;
  color: #CCD5AE;
}

h2 {
  font-size: 3.2rem;
  color: #E9EDC9;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style-type: none;
}

.footWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CCD5AE;
  width: 100%;
  gap: 0.8rem;
  padding: 2rem;
  position: relative;
}
.footWrapper a {
  margin: 1rem;
  font-size: 1.2rem;
}
.footWrapper .footerLogo {
  height: 10rem;
}
.footWrapper .footerLogo img {
  height: 100%;
}

@media screen and (min-width: 560px) {
  .footWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footWrapper .copyright {
    position: absolute;
    bottom: 1rem;
  }
  .footWrapper .copyright p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */